#categories{
    color:red; 
}

#shop{
    padding:20px;
    margin:40px;
    margin-top:80px;

    border-radius:18px;
    border-style:groove;
    border-color:#5bd0ce;

    background-color:#CEFFFE;
    font-family:'Comic Sans MS';
}
#menu{
    font-family:Calibri;
    font-size:xx-large;
    background-color:red;
    color:red;
}

.AddressBar{
    border-radius:6px;
    background-color:#5bd0ce;
    align-items:center;
    align-self:center;
    width: 70%;
}


