#categories{
    color:red; 
}

p{
    background-color:blue;
}

#menu{
    font-family:Calibri;
    font-size:xx-large;
    background-color:red;
    color:red;
}

#AddressBar{
    background-color:gray;
    align-items:center;
    width: 50%;
}

